.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(128, 0, 0);
}

.wall {
  background: green;
}

.ground {
  background: rgb(139, 69, 19);
}

.floater {
  background: yellow;
}

.actor {
  position: absolute;
}

.player {
  background: white;
}

.game {
  position: relative;
}
