body {
  background: #181818;
}

.background {
  background: linear-gradient(to bottom, #36d1dc, #5b86e5);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(153, 0, 0);
}

.wall {
  border-top: 10px solid green;
  background: rgb(139, 69, 19);
}

.ground {
  background: rgb(139, 69, 19);
}

.actor {
  position: absolute;
}

.floater {
  background:rgba(255,255,255, 0.25);
}

.coin {
  background-image: url("coin.gif");
  background-size: 175%;
  background-repeat: no-repeat;
  background-position: center;
}

.brick {
  background-image: url("brick.png");
  background-size: 175%;
  background-repeat: no-repeat;
  background-position: center;
}

.enemy {
  background-image: url("enemy.gif");
  background-size: 200%;
  background-position: center;
}

.boss {
  background-image: url("enemy.gif");
  background-size: 200%;
  background-position: center;
}

.powerup {
  background-image: url("powerup.gif");
  background-size: 200%;
  background-position: center;
}

.player {
  background-image: url("player.gif");
  background-size: 85px 40px;
  background-position: center;
}

.game {
  overflow: hidden;
  max-width: 640px;
  max-height: 480px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.lost .player {
  background-image: url("win.png");
  background-size: 85px 40px;
  background-position: center;
}

.won .player {
  background-image: url("playerwin.gif");
  background-size: auto;
  background-position: center;
}

#head {
  font-family: 'Jua', sans-serif;
  color: white;
  text-align: center;
}

#desc {
  font-family: 'Jua', sans-serif;
  color: white;
  text-align: center;
  font-size: 15px;
}
